@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
  @apply h-full
}

:root {
  --rcnaccentorange: #DA561D;
  --rcnaccentblue: #171332;
  --rcntext: #42526E;
  --darkgray:#CBD5E0;
  --mainorange: #EC6600;
  --maindark: #333333;
  --rcnlighterbg: #F1F3F5;
  --rcnlightbg: #E4E7EC;
  --green: #137333;
  --green-bg: #e6f4ea;
  --orange: #f68b1e;
  --orange-bg: #fde7db;
  --red: #a50e0e;
  --red-bg: #fce8e6;
}

*,
*::before,
*::after {

  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body {
  color: var(--rcntext);
}

input,
select,
optgroup,
textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

select,
textarea,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  -webkit-appearance: none;
  color: var(--rcntext);
  border: 1px solid var(--darkgray);
  border-radius: 3px;
  padding: 0.4em 0.5em;
  max-width: 100%;
  background: white;
  box-shadow: 0px 0px 0px -7px rgba(0, 0, 0, 0);
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: var(--rcnaccentblue);
  border-color: var(--rcntext);
  outline: 0;
  box-shadow: 0px 5px 15px -7px rgba(0, 0, 0, 0.1);
}

.-headfont {
  font-family: Figtree, Poppins;
}

.-row {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.-subhead {
  font-size: 16px !important;
  font-weight: bold !important;
  font-family: Figtree, Poppins;
}

.-clickable {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
}

.-directionalbutton {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.active .-directionalbutton {
  transform: translate(-50%, 8px) scale(1);
}

.-directionalbutton::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid var(--rcntext);
  border-right: unset;
  border-bottom: unset;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%) rotate(45deg);
  opacity: .6;
}

.active .-directionalbutton::before {
  transform: translate(-50%, -55%) rotate(-135deg);
}

.-spin-loader {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin-loader .25s infinite linear;
}

@keyframes spin-loader {
  100% {
    transform: rotate(360deg);
  }
}

.-btn {
  background: var(--rcnaccentorange);
  box-shadow: 0px 4px 20px -5px var(--rcnaccentorange);
  border-radius: 4px;
  padding: 8px 16px;
  color: white !important;
  text-transform: uppercase;
}

.-inner {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 16px;
}

.lazy-image {
  opacity: 0;
}

.loaded {
  opacity: 1 !important;
  transition: opacity .2s linear;
}


.-preloader.-loading {
  background-color: #dfdfdf;
  background-size: 550px;
  opacity: 1
}

.-preloader {
  z-index: 2;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.-preloader::before {
  position: absolute;
  content: '';
  animation: unset;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .3), transparent)
}

.-preloader.-loading::before {
  animation: ssc-loading 1.3s infinite
}

@keyframes ssc-loading {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
}

/* ======================== search icon ========================== */

.search {
  height: 40px;
}

.search-btn {
  right: 8px;
  top: 0;
  width: 40px !important;
  height: 40px !important;
  background-color: var(--mainblue);
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: unset !important;
}

.search-btn .spin-loader {
  border: 2px solid white;
  border-bottom-color: transparent;
  border-top-color: transparent;
  display: none;
}

.search-btn.searching {
  pointer-events: none;
}

.search-btn.searching .spin-loader {
  display: block;
}

.search-btn.searching .search-icon {
  display: none;
}

.search-btn .search-icon,
.search-btn .search-btn-clickable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -70%) scale(0.8);
}

.search-btn .search-btn-clickable {
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  border: 3px solid white;
  background-color: transparent;
}

.search-icon::before {
  width: 0px;
  height: 0px;
  content: "";
  display: block;
  margin-top: 8px;
  margin-left: 9px;
  transform: translate(40%, 45%) rotate(-45deg);
  border-bottom: 8px solid currentColor;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.search-icon::after {
  content: "";
  height: 12px;
  width: 6px;
  display: block;
  background-color: currentColor;
  transform: translate(320%, 0%) rotate(-45deg);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* ======================== end search icon ========================== */